﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SuffoArt</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    @*
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    *@
    <nav class="container-fluid fixed-top">
        <div class="row">
            @Html.ActionLink("Iniciar/Cerrar Sesión", "IniciarSesion", "Admin", new { area = "" }, new { @class = "nav-link col-sm-4" })
            @Html.ActionLink("Inicio", "Inicio", "Principal", new { area = "" }, new { @class = "nav-link text-center col-sm-4" })
            @Html.ActionLink("Panel de Control", "PanelDeControl", "Admin", new { area = "" }, new { @class = "nav-link text-right col-sm-4" })
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <footer class="container-fluid fixed-bottom pb-2">
            <nav class="nav justify-content-center align-bottom" id="nav_principal">
                @*@Html.ActionLink("bio", "Bio", "Principal", new { area = "" }, new { @class = "nav-link" })*@
                @Html.ActionLink("animación", "Animacion", "Principal", new { area = "" }, new { @class = "nav-link" })
                @Html.ActionLink("ilustración", "Ilustracion", "Principal", new { area = "" }, new { @class = "nav-link" })
                @*@Html.ActionLink("blog", "Blog", "Principal", new { area = "" }, new { @class = "nav-link" })*@
                @Html.ActionLink("contacto", "Contacto", "Principal", new { area = "" }, new { @class = "nav-link" })
            </nav>
            <div class="row">
                <div class="col-6 text-muted">&copy; @DateTime.Now.Year - Paula Fernández Suffo</div>
                <div class="col-6 text-muted text-right">Web creada por: Ricardo Fernández Cuesta</div>
            </div>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/JS/Site.js"></script>
</body>
</html>