﻿/*csslint box-sizing: false*/
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}
*/
/* Set padding to keep content from hitting the edges */
/*
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
*/
/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}
*/

body {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: aliceblue;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* ############################ Inicio ###################################### */

.fondo-inicio {
    background: url(../Recursos/fondo.gif) no-repeat center center fixed;
    background-size: cover;
    height: 94vh;
}

.contenido_inicio {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*width: 100%;*/
}

#logo {
    background-image: url("../Recursos/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    margin: 3% 0;
}

a {
    color: black;
}

#nav_principal {
    padding: 1em;
}



@media only screen and (max-width: 575px) {

    #logo {
        height: 150px;
    }
}

/* ######################################################################## */

/* ################################# Blog ################################# */

.tema {
    margin-bottom: 0.5em;
    border: 1px solid black;
    border-radius: 3px 4px;
}

.cuerpo {
    padding: 0.5em;
    border-bottom: 1px solid black;
}

.autor {
    text-align: right;
    border-bottom: none;
}

/*########################################################################*/

/* ###################### Ilustración / Animación ######################## */

.img-arte {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
}

.circulo-lleno {
    background-image: url("../Recursos/Arte/circle_lleno.svg");
}

.circulo-vacio {
    background-image: url("../Recursos/Arte/circle_vacio.svg");
}

.modal-body {
    margin: 0 auto;
}

div.gallery {
    border: 1px solid #ccc;
    text-align: center;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.gallery .desc .responsive {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    margin: 6px 0;
    width: 24.99999%;
}
.responsive-video {
    padding: 0 6px;
    float: left;
    margin: 6px 0;
    width: 49.99999%;
}

.gallery button {
    background: none;
    border: none;
    padding: 0;
}

@media only screen and (max-width: 1280px) {
    .responsive-video {
        width: 100%;
    }
}

@media only screen and (max-width: 780px) {
    .responsive {
        width: 49.99999%;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*########################################################################*/

/* ########################## Panel de Control ########################### */

.botones_admin {
    padding: 5px 5px 5px 5px;
}

    .botones_admin a {
        width: 100%;
        height: 100px;
        line-height: 80px;
        font-weight: bold;
        font-size: 2em;
    }

/*########################################################################*/

/* ############################## Contacto ############################### */

.img-contacto {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
}

#email {
    background-image: url("../Recursos/Contacto/close-envelope.svg");
    margin: 10px;
}

#location {
    background-image: url("../Recursos/Contacto/maps-and-flags.svg");
    margin: 10px;
}

#telefono {
    background-image: url("../Recursos/Contacto/phone-receiver.svg");
    margin: 10px;
}

#nombre-contacto {
    margin-bottom: 35px;
}
.img-preview-contacto {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
}

#arte-contacto {
    background-image: url("../Recursos/Contacto/Lagrimas3_BLANCO.png");
}

/*########################################################################*/