﻿
@{
    ViewBag.Title = "Contacto";
}

@*<h2>Contacto</h2>*@


@*<h4 id="contact"><b>Contacto</b></h4>*@
<div class="container rounded">

    <div class="row text-center" style="margin:0 -16px">
        <div class="col-md-4">
            <div id="email" class="img-contacto"></div>
            <p>suffoart@mail.com</p>
        </div>
        <div class="col-md-4">
            <div id="location" class="img-contacto"></div>
            <p>Cadiz, ES</p>
        </div>
        <div class="col-md-4">
            <div id="telefono" class="img-contacto"></div>
            <p>915 65 45 41</p>
        </div>
    </div>
    <div class="p-5">
        <h2 class="text-center" id="nombre-contacto">PAULA SUFFO</h2>
        <div class="row">
            <div class="col-md-6 img-preview-contacto" id="arte-contacto"></div>
            <div class="col-md-6 text-justify">
                <br /><br />
                He formado parte durante años de diferentes grupos de trabajo dedicados a la realización de piezas audiovisuales.  Tengo experiencia en la etapa de postoproducción, puesto que he dirigido procesos de animación y de diseño gráfico.
                <br /><br />
                Soy una apasonada del arte y de cómo éste puede impactar en las emociones de las personas, así como expresar ideas, pensamientos y sentimientos. Adoro transmitir con mis diseños y mis animaciones y, por ello, estoy constantemente aprendiendo y queriendo mejorar.
            </div>
        </div>

    </div>
</div>
<br />
<br />
<br />
<br />
<br />